.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  transition: 0.3s ease;
  padding-right: 0.7rem;
  z-index: 999;
  position: relative;
}
.emailRow:hover {
  transform: scale(1.005);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;
}
.emailRow:hover .emailRow__options .star--icon {
  color: #5f6368;
}
.emailRow__options .check--box.Mui-checked {
  color: #5f6368 !important;
}
.emailRow:hover .emailRow__options .star--icon.Mui-checked {
  color: #f7ca4b;
}
.emailRow__options .star--icon.Mui-checked {
  color: #f7ca4b;
}
.emailRow:hover .emailRow__action {
  visibility: visible;
  right: 0px;
}
.emailRow .email__info {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.emailRow__options {
  display: flex;
  align-items: center;
}
.emailRow__options .star--icon {
  color: #ddd;
}
.emailRow__message {
  display: flex;
  align-items: center;
  /* margin-left: 5rem; */
}
.emailRow .emailRow__title {
  width: 250px;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.5px;
}
.emailRow__message .subject {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.emailRow__message .subject .emailRow__description {
  margin-left: 0.2rem;
  font-weight: normal;
  font-size: 0.9rem;
  color: #5f6368;
  letter-spacing: 0.4px;
}
.emailRow__time {
  text-align: right;
  font-size: 0.85rem;
  font-weight: 600;
  flex: 1;
}
.emailRow__action {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0px;
  height: 100%;
  background: #fff;
  visibility: hidden;
}
