.sidebar__option_container > p {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 35px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #818181;
  cursor: pointer;
  transition: 0.3s ease;
}
.sidebar__option .icon {
  font-size: 1.3rem;
}
.sidebar__option .title {
  flex: 1;
  color: #000;
  font-size: 0.9rem;
  margin-left: 1rem;
}
.sidebar__option .number {
  font-size: 0.9rem;
}
.sidebar__option.active {
  background: #fce8e6;
  color: #d93227;
  font-weight: 500;
}
.sidebar__option.active p {
  color: #d93227;
}
.sidebar__option.active:hover {
  background: #fce8e6;
}
.sidebar__option:hover {
  background: #e4e4e4;
}
