.emailList__area {
  text-align: center;
}
.email__view__container {
  /* overflow: scroll; */
  padding-left: 20px;
}
.empty__error {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 6px 20px;
  font-size: 0.9rem;
  border-radius: 4px;
  background: #ffe48d;
}
.email__view__container .emailList__settings {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  background: #fff;
  z-index: 999;
  padding-right: 10px;
}
.email__settingLeft .icon {
  font-size: 20px;
}
.email__settingLeft .check--box.Mui-checked {
  color: #5f6368 !important;
}
.emailList__sections {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid whitesmoke;
}
.emailList__area {
  margin-top: 0.5rem;
}
