.email__view__container {
  /* overflow: scroll; */
  padding-left: 20px;
}
.email__view__container .emailList__settings {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  background: #fff;
  z-index: 999;
  padding-right: 10px;
}
.email__settingLeft .icon {
  font-size: 20px;
}
.emailList__sections {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid whitesmoke;
}
.emailList__area {
  margin-top: 0.5rem;
}
